/* * {
    outline: 1px solid limegreen;
} */

html,
body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: $color-background !important; */
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
} */
.required {
    color: red;
}

.radio-options input[type="radio"],
.radio-options label {
    display: inline-block;
    margin-right: 10px;
    /* Adjust as needed */
}